html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Catamaran" !important;
  background-color: #007498;
}

.App {
  text-align: center;
}

header {
  height: 50px;
}

footer {
  height: 10px;
  position: absolute;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

a {
  text-decoration: none;
  color: rgb(28, 28, 28);
}
