html,
body {
  --one: #fffc99;
  --two: #3dfaff;
  --three: #077187;
  --four: #074f57;
  --five: #260f26;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cantarell" !important;
  background-color: var(--four);
}

.App {
  text-align: center;
}

header {
  height: 50px;
}

footer {
  height: 10px;
  position: absolute;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

a {
  text-decoration: none;
  color: rgb(28, 28, 28);
}
