body {
  font-family: "Catamaran" !important;
}

.App {
  text-align: center;
}

.page-wrapper {
  margin: 0;
  position: relative;
}

.ListGroup {
  max-height: 75vh;
  max-width: 75vw;
  overflow-y: scroll;
}

.left-nav-bar {
  height: 75vh;
  width: 100%;
}

.list-group {
  color: blue;
}

.card,
.nav-container {
  height: 75vh;
  width: 100%;
}

.post-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
    "header-left header header header-right"
    "body body body body"
    "footer-left footer footer footer-right";

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(188, 229, 240);
}

.post-title {
  grid-area: header-left;
}

.post-username {
  grid-area: header-right;
}

.post-body {
  grid-area: body;
}

.post-likes {
  grid-area: footer-left;
}

.post-time {
  grid-area: footer-right;
}

.post-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.post-container {
  margin: 20px 16px;
  cursor: pointer;
}

.body-text {
  text-align: justify;
  text-align-last: left;
}

.username {
  text-align: left;
}

.list-group-item {
  border: none;
}

.Button {
  width: 30px;
}

.custom-navbar {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: lightblue;
}

.custom-navbar-button:hover,
.custom-navbar-button-active,
.custom-navbar a:hover {
  background-color: rgb(230, 230, 230);
  color: black;
}

.icon {
  text-align: center;
}

.custom-navbar a {
  width: 100%;
  text-decoration: none;
  color: black;
}

.nav-link-div {
  display: flex;
  border-style: solid;
  border-bottom-style: none;
  border-color: lightblue;
  border-width: 1px;
  height: 10vh;
  cursor: pointer;
}

.nav-link-hovered {
  background-color: lightgreen;
}

.nav-link-clicked {
  background-color: lightblue;
}

#last-nav-link-div {
  border-bottom-style: solid;
}

#nav-content {
  display: flex;
  font-family: "Itim";
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
#nav-content a {
  font-size: 2.5em;
  text-decoration: none;
  color: rgb(26, 87, 87);
}

#nav-content div {
  flex: 1;
  display: flex;
  align-items: center;
}

.burger {
  position: absolute;
  top: 0px;
  right: 25px;
  z-index: 20;
}

.forum-nav-icon {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 40px;
  right: 10px;
  background-color: blue;
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

#forum-nav-icon-hovered {
  background-color: lightblue;
}

.mobile-nav {
  background: lightblue;
  height: 90%;
  right: -330px;
  position: fixed;
  border-radius: 20px 0 0 20px;
  z-index: 5;
  top: 0;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  width: 75%;
}

.mobile-nav.open {
  -webkit-transform: translateX(-330px);
  -ms-transform: translateX(-330px);
  transform: translateX(-330px);
}

.bottom-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "one two three four";
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
}

.bottom-nav-link {
  background-color: gray;
  cursor: pointer;
}

.bottom-nav-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.bottom-nav-link a:hover {
  color: black;
}

.bottom-nav-link:hover {
  background-color: rgb(136, 136, 136);
}

#bottom-nav-1 {
  grid-area: one;
}

#bottom-nav-2 {
  grid-area: two;
}

#bottom-nav-3 {
  grid-area: three;
}

#bottom-nav-4 {
  grid-area: four;
}
