.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  color: var(--two);
  text-align: center;
}

.logo {
  width: 35vw;
  height: auto;
  justify-self: center;
}
