.wrapper {
  position: relative;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

.desktopHeaderSpacer {
  height: 50px;
}

.MobileHeaderSpacer {
  height: 25px;
}

.main {
  display: grid;
  grid-template-rows: 0vh 1fr 10vh;
  grid-template-areas:
    "nav"
    "post"
    "bottom-nav";
}

.mainLarge {
  display: grid;
  grid-template-columns: 1fr 4fr 20px;
  grid-template-areas: "nav post space";
}

#loginLanding {
  height: 80vh;
  grid-template-columns: 1.5fr 2.5fr 20px;
}

.pleaseLogin {
  width: 100%;
  height: 100%;
  display: flex;
  padding-right: 10px;
  background-color: var(--two);
  justify-content: center;
  align-items: center;
  grid-area: post;
  border-radius: 10px;
}

.pleaseLogin img {
  max-height: 400px;
}

.postsDiv {
  grid-area: post;
  overflow: hidden;
  margin: 0px 10px 35px;
  background-color: var(--five);
  border-radius: 10px;
}

.spinnerDiv {
  grid-area: post;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 35px;
  background-color: var(--three);
  border-radius: 10px;
}

.spinner {
  font-size: 4em;
  color: var(--two);
  animation: spin infinite 2s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mobileNav {
  grid-area: bottom-nav;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small {
  margin: 0 10px 0 0;
}
