.reportedComment {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "username title"
    "time body";
  height: auto;
  width: 90%;
  padding: 5px;
  background-color: #007498;
  border-radius: 10px;
  margin: 10px 0;
  cursor: pointer;
}

#highlightedComment {
  background-color: #00faff;
}

.reportedTitle {
  font-weight: bold;
  grid-area: title;
}

.reportedTime {
  grid-area: time;
}

.reportedBody {
  grid-area: body;
}
