.wrapper {
  background-color: #004562;
  height: 100%;
}

h2 {
  padding: 10px 0 20px;
}

.spacer {
  height: 10vh;
}

section {
  margin: 20px;
  padding-bottom: 10px;
  background-color: #007498;
  border-radius: 10px;
}
