.postsSpacer {
  margin-top: 75px;
}

.viewedPostWrapper {
  padding: 0 10px;
  margin-bottom: 50px;
}

.viewedPost {
  display: grid;
  color: white;
  border-radius: 10px 10px 0 0;
  background-color: var(--three);
  border-color: var(--one);
  border-style: solid;
  border-width: 2px 2px 0;
  grid-template-rows: 2fr auto 2fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title user"
    "body body"
    "time likes"
    "reply reply";
}

.viewedPostTitle {
  grid-area: title;
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.viewedPostUser {
  grid-area: user;
  padding-right: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.viewedPostBody {
  grid-area: body;
  padding: 0 25px;
  background-color: var(--four);
  height: auto;
  min-height: 50px;
  margin: 0 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.viewedPostLikes {
  grid-area: likes;
  padding-right: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.viewedPostTime {
  grid-area: time;
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.viewedPostReplyDiv {
  grid-area: reply;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "likes reply report";
  text-align: center;
}

.likesHeart {
  color: lightpink;
  font-size: 1.5em;
  grid-area: likes;
}

.heartIcon {
  cursor: pointer;
}

.postReplyHolder {
  width: 100%;
  height: 100%;
  grid-area: reply;
  display: flex;
  justify-content: center;
  align-items: center;
}
.postReplyButton {
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: var(--two);
}

.postReplyButton:hover {
  background-color: var(--one);
}

.postReportHolder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.report {
  cursor: pointer;
}

.commentWrapper {
  overflow: auto;
  padding: 10px 10px;
  background-color: var(--five);
  border-radius: 0 0 10px 10px;
  border-color: var(--one);
  border-style: solid;
  border-width: 2px;
}
