body {
  overflow: hidden;
}

.desktopHeaderSpacer {
  height: 50px;
}

.MobileHeaderSpacer {
  height: 10vh;
}

.grid {
  display: grid;
  width: 100%;
  height: 100%;
  position: absolute;
  grid-template-columns: 10vw 1fr 10vw;
  grid-template-areas: "one two three";
  overflow: hidden;
  z-index: 2;
}

.gridMobile {
  display: grid;
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 8vh 1fr 20vh;
  grid-template-areas:
    "nothing nothing"
    "two two"
    "one three";
  overflow: hidden;
  z-index: 2;
}

#one {
  grid-area: one;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
#two {
  grid-area: two;
  background-color: rgb(61, 209, 219);
  position: relative;
}
#three {
  grid-area: three;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.image {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}
.imgHide {
  display: none;
}

.imgTwo {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  transform: translateX(0);
  transition: transform 1s;
}

#twoToOne {
  transform: translateX(-100%);
}

#twoToThree {
  transform: translateX(100%);
}

.imgOne {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 1s;
}

#oneToTwo {
  transform: translateX(0);
}

.imgThree {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  transform: translateX(100%);
  transition: transform 1s;
}

#threeToTwo {
  transform: translateX(0);
}
