.pageWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h1 {
  color: gray;
  display: block;
}

.h3 {
  margin: 0;
}

.desktopHeaderSpacer {
  height: 50px;
}

.MobileHeaderSpacer {
  height: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 50%;
}

.input {
  border: none;
  line-height: 2em;
  border-radius: 5px;
  width: 100%;
}

.nameDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nameInput {
  border: none;
  line-height: 2em;
  border-radius: 5px;
  width: 45%;
}
#nameInputMobile {
  width: 100%;
}

textarea {
  border: none;
  line-height: 2em;
  border-radius: 5px;
  resize: none;
  width: 100%;
}
.button {
  border: none;
  width: 75%;
  line-height: 2em;
  border-radius: 5px;
  background-color: #002237;
  font-size: 1.3em;
  cursor: pointer;
  color: #00faff;
}
.button:hover {
  background-color: #00faff;
  color: #002237;
}

.spinner {
  animation: spin infinite 1.5s linear;
  color: lightblue;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
