.blurFilter {
  position: fixed;
  overflow: hidden;
  top: 10vh;
  left: 0;
  display: none;
  backdrop-filter: blur(10px);
  height: 90vh;
  width: 100vw;
  z-index: 2;
}

#blurOpen {
  display: block;
}

.formDiv {
  position: fixed;
  z-index: 3;
  top: 10vh;
  left: 0;
  transform: translateY(100%);
  transition: transform 0.1s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  min-height: 500px;
}

#formDivOpen {
  transform: translateY(0);
}

.form {
  display: grid;
  grid-template-rows: 2fr 2fr 6fr 3fr;
  grid-template-areas:
    "header"
    "title"
    "body"
    "submit";
  width: 50%;
  height: 75%;
}

.input,
.textarea {
  border-radius: 10px;
  border-style: none;
  background-color: var(--two);
  text-indent: 10px;
  color: var(--five);
}

.text .form::placeholder {
  color: var(--five);
}

.form input {
  grid-area: title;
  height: 30px;
}

.form textarea {
  grid-area: body;
  height: 75%;
  resize: none;
  align-self: center;
}

.h2 {
  font-family: "Amatic SC" !important;
  font-size: 3em;
  text-align: center;
  grid-area: header;
  color: var(--one);
}

.button {
  grid-area: submit;
  font-size: 1em;
  width: 50%;
  height: 50%;
  background-color: var(--five);
  border-style: none;
  border-radius: 10px;
  color: var(--two);
  justify-self: center;
  cursor: pointer;
}
.button:hover {
  color: var(--one);
}

.errButton {
  background-color: pink;
  color: var(--five);
  border-radius: 10px;
  border-style: none;
  justify-self: center;
  pointer-events: none;
  width: 50%;
  height: 50%;
}
