.blurFilter {
  position: fixed;
  overflow: hidden;
  top: 10vh;
  left: 0;
  display: none;
  backdrop-filter: blur(10px);
  height: 90vh;
  width: 100vw;
  z-index: 2;
}

#blurOpen {
  display: block;
}

.formDiv {
  position: fixed;
  z-index: 3;
  top: 10vh;
  left: 0;
  transform: translateY(100%);
  transition: transform 0.1s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  min-height: 500px;
}

#formDivOpen {
  transition-delay: 0.2s;
  transform: translateY(0);
}

.form {
  display: grid;
  grid-template-rows: 6fr 4fr 3fr;
  border-radius: 10px;
  grid-template-areas:
    "title"
    "body"
    "submit";
  width: 50%;
  height: 75%;
}

.textarea {
  border-radius: 10px;
  border-style: none;
  background-color: var(--two);
  text-indent: 10px;
  color: var(--five);
  grid-area: body;
  height: 75%;
  resize: none;
  align-self: center;
}

.textarea .form::placeholder {
  color: var(--five);
}

.comment {
  grid-area: title;
  background-color: var(--five);
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "comment"
    "by";
  justify-self: center;
  padding: 0 5px;
  margin: auto;
  min-width: 50%;
  border-style: solid;
  border-color: var(--two);
  border-width: 1px 1px 1px 3px;
  color: var(--two);
  border-radius: 10px;
}

.post {
  grid-area: title;
  justify-self: center;
  display: flex;
  align-items: center;
  overflow-y: scroll;
  padding: 15px;
  background-color: var(--four);
  color: var(--two);
  max-height: 75%;
  margin: auto;
  max-width: 90%;
  border-radius: 10px;
  min-width: 40%;
}

.mobileComment {
  min-width: 75%;
}

.commentBody {
  padding: 5px 0 5px 5px;
  width: 100%;
  grid-area: comment;
  display: flex;
  align-items: center;
  border: 2px solid var(--two);
  border-width: 0 0 1px 0;
}

.commentBy {
  height: 100%;
  width: 100%;
  grid-area: by;
  padding: 2px 0;
}

#depth-0 {
  border-left-color: orange;
}

#depth-1 {
  border-left-color: green;
}

#depth-2 {
  border-left-color: blue;
}

#depth-3 {
  border-left-color: yellow;
}

#depth-4 {
  border-left-color: purple;
}

#depth-5 {
  border-left-color: red;
}

.h2 {
  font-family: "Amatic SC" !important;
  font-size: 3em;
  text-align: center;
  grid-area: header;
  color: var(--one);
}

.button {
  grid-area: submit;
  font-size: 1em;
  width: 50%;
  height: 50%;
  background-color: var(--five);
  border: 2px solid var(--two);
  border-radius: 10px;
  color: var(--two);
  justify-self: center;
  align-self: center;
  cursor: pointer;
}
.button:hover {
  background-color: var(--three);
  border: none;
  color: var(--five);
}

.errButton {
  background-color: pink;
  color: var(--four);
  border-radius: 10px;
  border-style: none;
  justify-self: center;
  align-self: center;
  pointer-events: none;
  width: 75%;
  height: 50%;
}
