.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "one two three four";
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 10vh;
}

.link {
  background-color: #002237;
  cursor: pointer;
  font-size: 1.5em;
}

.link a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00faff;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.link a:hover {
  background-color: #00faff;
  color: #002237;
}

.link:hover {
  background-color: rgb(136, 136, 136);
}

#nav1 {
  grid-area: one;
}

#nav2 {
  grid-area: two;
}

#nav3 {
  grid-area: three;
}

#nav4 {
  grid-area: four;
}
