.desktopHeaderSpacer {
  height: 10vh;
}

.MobileHeaderSpacer {
  height: 10vh;
}

h3,
h4,
h5 {
  padding: 10px;
  margin: 0;
}

.grid {
  display: grid;
  width: 100%;
  height: 90vh;
  position: absolute;
  grid-template-columns: 10vw 1fr 10vw;
  grid-template-areas: "one two three";
  overflow: hidden;
  z-index: 2;
}

.gridMobile {
  display: grid;
  width: 100%;
  height: 90vh;
  position: absolute;
  bottom: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 10vh;
  grid-template-areas:
    "two two"
    "one three";
  overflow: hidden;
  z-index: 2;
}

#one {
  grid-area: one;
  background-color: #00b0d7;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}
#twoMobile {
  grid-area: two;
  background-color: rgb(61, 209, 219);
  height: 80vh;
  width: 100%;
  position: relative;
}

#twoDesktop {
  grid-area: two;
  background-color: rgb(61, 209, 219);
  height: 90vh;
  width: 100%;
  position: relative;
}

#three {
  grid-area: three;
  background-color: #00b0d7;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}

.card {
  grid-area: center;
  background-color: #007498;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "pic title"
    "desc desc";
  height: 100%;
  width: 100%;
}

.cardMobile {
  grid-area: center;
  background-color: rgb(106, 105, 153);
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "pic"
    "desc";
  height: 100%;
  width: 100%;
}

.imageWrapper {
  height: 100%;
  max-height: 45vh;
  width: 100%;
  display: flex;
}

.image {
  display: none;
  width: 100%;
  object-fit: contain;
  max-height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

#image-two,
#image-th {
  display: none;
}

.title {
  height: 100%;
  grid-area: title;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  border: none;
  line-height: 2em;
  border-radius: 5px;
  background-color: #004562;
  font-size: 1.3em;
  cursor: pointer;
  width: 75%;
  color: #00faff;
}

.button:hover {
  background-color: #00faff;
  color: black;
}

.description {
  text-align: center;
  grid-area: desc;
  padding: 0 10px;
  overflow-y: scroll;
}

.descriptionDesktop {
  text-align: center;
  grid-area: desc;
  padding: 0 10px;
}

.imgHide {
  display: none;
}

.imgTwo {
  position: absolute;
  bottom: 0;
  right: 0;
  height: inherit;
  width: 100%;
  transform: translateX(0);
  transition: transform 1s;
}

#twoToOne {
  transform: translateX(-100%);
}

#twoToThree {
  transform: translateX(100%);
}

.imgOne {
  position: absolute;
  bottom: 0;
  right: 0;
  height: inherit;
  width: 100%;
  transform: translateX(-100%);
  transition: transform 1s;
}

#oneToTwo {
  transform: translateX(0);
}

.imgThree {
  position: absolute;
  bottom: 0;
  right: 0;
  height: inherit;
  width: 100%;
  transform: translateX(100%);
  transition: transform 1s;
}

#threeToTwo {
  transform: translateX(0);
}
