.desktopHeaderSpacer {
  height: 10vh;
}

.MobileHeaderSpacer {
  height: 10vh;
}

.h3 {
  font-family: "Amatic SC" !important;
  font-weight: 700;
  font-size: 2em;
}

.h2,
.h3,
.h4 {
  text-align: center;
  color: var(--two);
}

.h4,
.h5 {
  color: var(--two);

  padding: 10px;
  margin: 0;
}

.p {
  color: var(--two);
}

.grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 90vh;
  position: absolute;
  -ms-grid-columns: 10vw 1fr 10vw;
  grid-template-columns: 10vw 1fr 10vw;
  grid-template-areas: "one two three";
  overflow: hidden;
  z-index: 2;
}

.gridMobile {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 90vh;
  position: absolute;
  bottom: 0;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 10vh;
  grid-template-rows: 1fr 10vh;
  grid-template-areas:
    "two two"
    "one three";
  overflow: hidden;
  z-index: 2;
}

#one {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  background-color: var(--three);
  color: var(--one);
  font-size: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}

.gridMobile > #one {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
#twoMobile {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: two;
  background-color: var(--five);
  height: 80vh;
  width: 100%;
  position: relative;
}
.gridMobile > #twoMobile {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
}

#twoDesktop {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: two;
  background-color: var(--five);
  height: 90vh;
  width: 100%;
  position: relative;
}

.gridMobile > #twoDesktop {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
}

#three {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: three;
  background-color: var(--three);
  color: var(--one);

  font-size: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}

.gridMobile > #three {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.card {
  grid-area: center;
  background-color: var(--four);
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "pic title"
    "desc desc";
  height: 100%;
  width: 100%;
}

.cardMobileOne {
  grid-area: center;
  background-color: var(--four);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.cardMobile {
  grid-area: center;
  background-color: var(--four);
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "pic"
    "desc";
  height: 100%;
  width: 100%;
}

.logoWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--two);
  width: 90%;
  height: 90%;
  border-radius: 10px;
  margin: auto;
}

.imageWrapper {
  height: 100%;
  max-height: 45vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image {
  display: none;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  max-height: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
}

#image-two,
#image-th {
  display: none;
}

.title {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#mobileTitleOne {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: pic;
}

.cardMobile > #mobileTitleOne {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.button {
  border: none;
  line-height: 2em;
  border-radius: 5px;
  background-color: var(--five);
  font-size: 1.3em;
  cursor: pointer;
  width: 75%;
  color: var(--one);
}

.button:hover {
  background-color: var(--one);
  color: var(--five);
}

.description {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  text-align: center;
  grid-area: desc;
  padding: 0 10px;
  overflow-y: scroll;
}

.cardMobile > .description {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
}

.descriptionDesktop {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  text-align: center;
  grid-area: desc;
  padding: 0 10px;
}

.cardMobile > .descriptionDesktop {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
}

.imgHide {
  display: none;
}

.imgTwo {
  position: absolute;
  bottom: 0;
  right: 0;
  height: inherit;
  width: 100%;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

#twoToOne {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

#twoToThree {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.imgOne {
  position: absolute;
  bottom: 0;
  right: 0;
  height: inherit;
  width: 100%;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

#oneToTwo {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.imgThree {
  position: absolute;
  bottom: 0;
  right: 0;
  height: inherit;
  width: 100%;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

#threeToTwo {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
